
* {
    font-family: "JetBrainsMono Nerd Font", "monospace";
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: transparent;
}


#workspaces,
#custom-nvidia,
#memory,
#cpu,
#custom-cpu_temp,
#pulseaudio,
#language,
#clock,
#tray,
#custom-power {
    background-color: #242424; 
    color: #ffffff;
    border-radius: 10px;
    
    margin: 4px 2px;
    padding: 0 12px;
    min-height: 28px;
}


#workspaces button {
    color: #666666;
    min-width: 32px; 
    padding: 0;
}

#workspaces button.active {
    color: #ffffff;
    background-color: #383838;
    border-radius: 1px;
}


#custom-nvidia { margin-right: 1px; }
#memory { margin-left: 1px; margin-right: 1px; }
#cpu { margin-left: 1px; margin-right: 1px; }
#custom-cpu_temp { margin-left: 1px; }


#language { color: #aaaaaa; }

#clock {
    background-color: #2b2b2b;
}

#tray {
    padding: 0 10px;
}


#custom-power {
    background-color: #333333;
    color: #ffffff;
    padding: 0 14px;
    margin-right: 5px; 
}
button {
    box-shadow: none;
    text-shadow: none;
}
