* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 11px;
    font-weight: bold;
}

/* Теперь это общий прямоугольник для всех иконок */
window#waybar {
    background-color: rgba(17, 17, 17, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 12px;
    color: #e0e0e0;
    /* margin: 5px; */ /* Раскомментируй, если хочешь, чтобы бар отступал от края экрана */
}

/* Убираем индивидуальные фоны, рамки и отступы у модулей */
#workspaces, 
#language, 
#clock, 
#pulseaudio, 
#memory, 
#cpu, 
#battery, 
#tray, 
#custom-notification, 
#custom-power {
    background-color: transparent; /* Убираем фон */
    border: none;                  /* Убираем рамки */
    border-radius: 0;              /* Убираем скругления */
    margin: 0;                     /* Убираем внешние отступы, чтобы они слиплись */
    padding: 2px 10px;             /* Оставляем только внутренние отступы */
}

/* Стили для кнопок рабочих столов внутри общего блока */
#workspaces button {
    padding: 0 4px;
    color: #555555;
    background-color: transparent;
}

#workspaces button.active {
    color: #ffffff;
    background-color: #252525;
    border-radius: 8px; /* Скругление только для активного воркспейса */
}

#clock {
    color: #ffffff;
}

#custom-power {
    color: #f38ba8;
    padding-right: 15px;
    padding-left: 15px;
}

/* Эффект при наведении на кнопку выключения внутри бара */
#custom-power:hover {
    background-color: rgba(243, 139, 168, 0.2);
    border-radius: 8px;
}
